# Python exercises related with NLP

This is a level test exercise. The purpose is to get your level in python programming oriented to NLP. 

Solve (and test) the next exercises in the block below each topic. **Use your python expertise and official python manual ONLY**: [https://docs.python.org/3/](https://docs.python.org/3/). The teachers are on the classroom to help.

## Topic 1: Working with Strings

1. Write a program that takes a string input from the user and prints the length of the string.
2. Create a program that converts a given string to uppercase.
3. Write a function that checks if a string contains only alphabets.
4. Reverse a string without using slicing (e.g., string[::-1]).
5. Count how many times a specific character appears in a string.
6. Write a function that takes two strings and checks if they are anagrams.
7. Implement a function that removes all vowels from a given string.
8. Write a function that checks if a string is a palindrome (case-insensitive).
9. Given a string, return the first non-repeating character.
10. Create a function that capitalizes the first letter of each word in a string.
11. Write a program to compress a string (e.g., "aaabb" -> "a3b2").
12. Implement a function to find the longest substring without repeating characters.
13. Write a program to check if a string can be rearranged into a palindrome.
14. Implement a function that removes all duplicates from a string while preserving the order of characters.
15. Write a function to find the longest common prefix among a list of strings.
16. Implement a custom `split` function without using Python's built-in methods.
17. Write a function to decode a given run-length encoded string (e.g., "a3b2" -> "aaabb").
18. Implement a function to check if one string is a rotation of another.
19. Create a function to find all permutations of a given string.
20. Write a function to implement a basic version of the `str.index` method.

In [114]:
#Write a program that takes a string input from the user and prints the length of the string.
entrance =  str(input("Please enter your input"))
print(len(entrance))

1

In [115]:
#Create a program that converts a given string to uppercase.
entrance =  str(input("Please enter your input"))
print(entrance.upper())

A

In [116]:
#Write a function that checks if a string contains only alphabets.

def alpha_check():
    user_input = str(input("Please enter your input"))
    return True if user_input.isalpha() else False
print(alpha_check())

True

In [117]:
#Reverse a string without using slicing (e.g., string[::-1]).

def rev_str(message : str) -> str:
    listed_message = list(message)
    listed_message.reverse()
    reversed_message = listed_message
    new_message = ""
    for char in reversed_message:
        new_message +=char
    return new_message
print(rev_str("hello"))

olleh

In [118]:
#Count how many times a specific character appears in a string.

def count_char(message):
    desired_char = str(input("Please enter the char that you want to count"))
    chars = list(message)
    num_times = chars.count(desired_char)
    return num_times
print(count_char("Buenas tardes"))

2

In [119]:
#Write a function that takes two strings and checks if they are anagrams.

# Anagrama: cara-arca

def anagram_check(first_str, second_str):
   if len(first_str) != len(second_str):
      return False
   
   return sorted(first_str) == sorted(second_str)
    

print(anagram_check("cara", "arca"))

True

In [120]:
#Implement a function that removes all vowels from a given string.

def removes_vowels(message):
    vowels = "aeiou"
    
    
    return "".join(char for char in message if char not in vowels)
print(removes_vowels("hola"))

hl

In [121]:
#Write a function that checks if a string is a palindrome (case-insensitive).


def elim_espacios(texto):
    texto = texto.replace(" ", "").strip().lower()

    return texto

def dar_vuelta(texto):
    texto = texto[::-1].lower()
    return texto

def es_palindromo(texto):
    texto = elim_espacios(texto)
    if dar_vuelta(texto) == texto:
        return True
    else:
        return False
    
print(es_palindromo("Amo la paloma"))

True

In [122]:
#Given a string, return the first non-repeating character.

def non_repeating(message):
    if message == " ":
        return message
    result = ""
    contador = 0
    caracter_actual = message[0]
    for i in range(len(message)):
        if message[i] == caracter_actual:
            contador+=1
        else:
            result = caracter_actual 
            caracter_actual = message[i]
            contador = 1 
    result = caracter_actual 
    return result
        

print(non_repeating("aaaabbc"))

c

In [123]:
# Create a function that capitalizes the first letter of each word in a string.


def capitalize_str(message : str) -> str:
    capitalized_message = message.title()
    return capitalized_message

print(capitalize_str("hola mundo"))

Hola Mundo

In [124]:
# Write a program to compress a string (e.g., "aaabb" -> "a3b2")

def compression(message : str) -> str:
    if not message:
        return " "
    
    result = ""
    count= 1 
    for i in range(1, len(message)):
        if message[i] == message[i - 1]:  # Comparamos con el carácter anterior
            count += 1
        else:
            result += message[i -1] + str(count)  
            count = 1

    result += message[-1] + str(count)

    return result






print(compression("aaabb"))

a3b2

In [125]:
# Implement a function to find the longest substring without repeating characters.

def find_longest_substring(s : str) -> tuple[str, int]:
    # Se crea un conjunto vacío para los caracteres únicos
    unique_chars = set()

    # Se inicializan las variables 
    start = 0 
    max_length = 0
    longest_substring = ""


    for end in range(len(s)):
        # Mientras el caracter actual ya esté en el conjunto eliminamos desde el inicio 
        while s[end] in unique_chars:
            unique_chars.remove(s[start]) 
            start +=1

        unique_chars.add(s[end])

        # Si se encuentra un substring más largo, se actualiza

        if end - start +1 > max_length:
            max_length = end - start + 1
            longest_substring = s[start:end + 1]

    return longest_substring, max_length


print(find_longest_substring("abcabcbb"))

('abc', 3)

In [126]:
# Write a program to check if a string can be rearranged into a palindrome.

def maybe_palindrome(message : str) -> str:
    char_count = {}

    for char in message:
        if char in char_count:
            char_count[char] +=1
        else:
            char_count[char] = 1 

    odd_count = 0

    for _ in char_count:
        if char_count[char] %2 != 0:
            odd_count += 1
    if odd_count > 1:
        return False
    else:
        return True


print(maybe_palindrome("cara"))

True

In [127]:
# Implement a function that removes all duplicates from a string while preserving the order of characters.
def eliminate_duplicates(message):
    looked = {}
    result = []

    for char in message:
        if char not in looked:
            result.append(char) 
            looked[char] =1
    result_str = "".join(result)

    return result_str


print(eliminate_duplicates("aab"))

ab

In [128]:
# Write a function to find the longest common prefix among a list of strings.

In [129]:
# Implement a custom `split` function without using Python's built-in methods.

In [130]:
# Write a function to decode a given run-length encoded string (e.g., "a3b2" -> "aaabb").

In [131]:
# Implement a function to check if one string is a rotation of another.

In [132]:
# Create a function to find all permutations of a given string.

In [133]:
# Write a function to implement a basic version of the `str.index` method.

## Topic 2: Working with Dictionaries and Other Data Structures

1. Create a dictionary to store the squares of numbers from 1 to 10.
2. Write a program to merge two dictionaries.
3. Implement a function to count the occurrences of each word in a given sentence.
4. Create a dictionary from two lists: one for keys and one for values.
5. Write a program to check if a given key exists in a dictionary.
6. Implement a function to invert a dictionary (swap keys and values).
7. Write a program to find the key with the highest value in a dictionary.
8. Implement a function to sort a dictionary by its values.
9. Write a program to remove all duplicate values from a list.
10. Create a set containing unique elements from a list.
11. Implement a function to find the intersection of two sets.
12. Write a program to check if one set is a subset of another.
13. Implement a function to find the union of two dictionaries.
14. Write a program to flatten a nested list.
15. Create a function to find the most frequent element in a list.
16. Implement a stack using a list with push and pop operations.
17. Write a program to check if a given list is a palindrome.
18. Implement a queue using a list with enqueue and dequeue operations.
19. Write a program to convert a list of tuples into a dictionary.
20. Create a function to find the common elements in two lists.

In [134]:
# 1. Create a dictionary to store the squares of numbers from 1 to 10.

def squares():
    new_dict = {}
    for x in range(1,11):
        new_dict[x] = x**2
    return new_dict

print(squares())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [135]:
# 2. Write a program to merge two dictionaries.
dict_1 = {
    "a" : 1,
    "c":3,
}

dict_2  = {
    "b": 2,
}

dict_1.update(dict_2)

print(dict_1)

{'a': 1, 'c': 3, 'b': 2}

In [136]:
# 3. Implement a function to count the occurrences of each word in a given sentence.

In [137]:
# 4. Create a dictionary from two lists: one for keys and one for values.

l1 = [1,2,3]
l2 = ["a","b","c"]

new_dict = dict(zip(l1, l2))

print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [138]:
# 5. Write a program to check if a given key exists in a dictionary.

In [139]:
# 6. Implement a function to invert a dictionary (swap keys and values).

my_dict = {
    "hello": "world",
}


def swap_values(my_dict):
    for key, value in my_dict.items():
        new_dict = value, key

    return new_dict

swap_values(my_dict)

('world', 'hello')

In [140]:
# 7. Write a program to find the key with the highest value in a dictionary.

dict_1 = {
    "a" : 1,
    "c":3,
}

max(dict_1, key = dict_1.get)

'c'

In [141]:
# 8. Implement a function to sort a dictionary by its values.

dict_1 = {
    "a" : 3,
    "c":2,
}

sorted_dict = dict(sorted(dict_1.items(), key = lambda item : item[1]))

print(sorted_dict)

{'c': 2, 'a': 3}

In [142]:
# 9. Write a program to remove all duplicate values from a list.
def remove_duplicates(lst):
    return list(set(lst))

# Ejemplo de uso:
list1 = [1, 2, 3, 2, 1, 4, 5, 4]
print(remove_duplicates(list1))

[1, 2, 3, 4, 5]

In [143]:
# 10. Create a set containing unique elements from a list.

list_1 = [1,2,3,4,2]

def create_set(list_1):
    set_result = set()
    for element in list_1:
        set_result.add(element)

    return set_result
     
print(create_set(list_1))

{1, 2, 3, 4}

In [144]:
# 11. Implement a function to find the intersection of two sets.

primer = set((1, 1, 2, 2, 3, 4)) 
segundo = set((3,4,5))

print(primer & segundo)

{3, 4}

In [145]:
# 12. Write a program to check if one set is a subset of another.

primer = set((1, 1, 2, 2, 3, 4)) 
segundo = set((3,4,5))

segundo.issubset(primer)

False

In [146]:
# 13. Implement a function to find the union of two dictionaries.
primer = set((1, 1, 2, 2, 3, 4)) 
segundo = set((3,4,5))

primer.union(segundo)

{1, 2, 3, 4, 5}

In [147]:
# 14. Write a program to flatten a nested list.

list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]


def flatten_list(list_1, list_2):
    new_list = []
    for sublist in list_1, list_2:
        for element in sublist:
            new_list.append(element)
    return new_list

print(flatten_list(list_1, list_2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [148]:
# 15. Create a function to find the most frequent element in a list.

def obtain_most_frequent(List):
    # Init max count in 0
    max_count = 0
    # Initially, first element is the most repeated one
    most_frequent = List[0]
    for element in List:
        # Count how many times current element is on the list
        current_element_frequence = List.count(element)
        # If the number of times current element appears is higher that max count registered
        # update max count and most repeated element
        if current_element_frequence > max_count:
            max_count = current_element_frequence
            most_frequent = element
    return most_frequent

# Ejemplo de uso de la función:
lista_ejemplo = [1, 2, 2, 3, 3, 3, 4]
print(obtain_most_frequent(lista_ejemplo))

3

In [149]:
# 16. Implement a stack using a list with push and pop operations.

my_list = [1,2,3,4,5,6,7,8,9]

element_popped = my_list.pop()
my_list.append(10)

element_pushed = my_list[-1]

print(element_popped)
print(element_pushed)

9
10

In [150]:
# 17. Write a program to check if a given list is a palindrome.

In [151]:
# 18. Implement a queue using a list with enqueue and dequeue operations.

from collections import deque

queue = deque([1,2,3,4,5])
queue.append(6)

queue.popleft()

print(queue)

deque([2, 3, 4, 5, 6])

In [152]:
# 19. Write a program to convert a list of tuples into a dictionary.

my_list = [("a",1), ("b",2), ("c",3)]

dict(my_list)

{'a': 1, 'b': 2, 'c': 3}

In [153]:
# 20. Create a function to find the common elements in two lists.
list1 = [1,2,3]
list2 = [3,4,5]

def common_elements(list1, list2):
    return [element for element in list1 if element in list2]
        
print(common_elements(list1, list2))

[3]

## Topic 3: Text Processing Including Working with Text Files

1. Write a program to read a text file and print its contents.
2. Write a program to count the number of lines in a text file.
3. Write a program to count the number of words in a text file.
4. Write a program to count the number of characters in a text file.
5. Write a program to find and print the longest word in a text file.
6. Write a program to replace a word in a text file with another word.
7. Write a program to append a line to a text file.
8. Write a program to reverse the contents of a text file and write it to a new file.
9. Write a program to find the frequency of each word in a text file.
10. Write a program to read a text file and print only the lines that start with a specific letter.
11. Write a program to create a new file that contains only unique words from a given text file.
12. Write a program to merge the contents of two text files into a third file.
13. Write a program to remove all punctuation from a text file and write the result to a new file.
14. Write a program to count the occurrences of a specific word in a text file.
15. Write a program to check if a specific word exists in a text file.
16. Write a program to split a text file into multiple smaller files, each containing a fixed number of lines.
17. Write a program to find all palindromic words in a text file.
18. Write a program to sort the words in a text file alphabetically and save the result to a new file.
19. Write a program to capitalize the first letter of every word in a text file.
20. Write a program to remove duplicate lines from a text file and save the result to a new file.

In [154]:
# Read and print the contents of a text file
with open("myfile.txt", "r") as file:
    content = file.read()
    print(content)

helloooooooooooo henlo

In [155]:
# 2. Write a program to count the number of lines in a text file.

with open("myfile.txt", "r") as file:
    lines = file.readlines()
    line_count = len(lines)

print(f"Number of lines: {line_count}")

Number of lines: 1

In [156]:
# 3. Write a program to count the number of words in a text file.


with open("myfile.txt", "r") as file:
    content = file.read()
    words = content.split()  
    word_count = len(words)

print(f"Number of words: {word_count}")

Number of words: 2

In [157]:
# 4. Write a program to count the number of characters in a text file.


with open("myfile.txt", "r") as file:
    content = file.read()
    char_count = len(content)

print(f"Number of characters: {char_count}")

Number of characters: 22

In [158]:
# 5. Write a program to find and print the longest word in a text file.

with open("myfile.txt", "r") as file:
    content = file.read()
    words = content.split()  


longest_word = max(words, key=len)

print(f"Longest word: {longest_word}")

Longest word: helloooooooooooo

In [159]:
# 6. Write a program to replace a word in a text file with another word.

In [160]:
# 7. Write a program to append a line to a text file.

In [161]:
# 8. Write a program to reverse the contents of a text file and write it to a new file.

In [162]:
# 9. Write a program to find the frequency of each word in a text file.

In [163]:
# 10. Write a program to read a text file and print only the lines that start with a specific letter.

In [164]:
# 11. Write a program to create a new file that contains only unique words from a given text file.

In [165]:
# 12. Write a program to merge the contents of two text files into a third file.

In [166]:
# 13. Write a program to remove all punctuation from a text file and write the result to a new file.

In [167]:
# 14. Write a program to count the occurrences of a specific word in a text file.

In [168]:
# 15. Write a program to check if a specific word exists in a text file.

In [169]:
# 16. Write a program to split a text file into multiple smaller files, each containing a fixed number of lines.

In [170]:
# 17. Write a program to find all palindromic words in a text file.

In [171]:
# 18. Write a program to sort the words in a text file alphabetically and save the result to a new file.

In [172]:
# 19. Write a program to capitalize the first letter of every word in a text file.

In [173]:
# 20. Write a program to remove duplicate lines from a text file and save the result to a new file.

## Topic 4: Pandas Usage Oriented Processing

1. Create a DataFrame from a dictionary of lists and display it.
2. Add a new column to an existing DataFrame based on calculations from other columns.
3. Filter rows in a DataFrame based on a condition.
4. Sort a DataFrame by a specific column in ascending order.
5. Write a program to rename the columns of a DataFrame.
6. Drop rows with missing values from a DataFrame.
7. Write a program to fill missing values in a DataFrame with a default value.
8. Group a DataFrame by a specific column and calculate the mean of each group.
9. Write a program to merge two DataFrames on a common column.
10. Write a program to concatenate two DataFrames vertically.
11. Create a new column in a DataFrame that is the result of applying a custom function to an existing column.
12. Write a program to count the unique values in a specific column of a DataFrame.
13. Write a program to find the maximum value in a specific column of a DataFrame.
14. Write a program to filter a DataFrame based on multiple conditions.
15. Write a program to calculate the correlation matrix of a DataFrame.
16. Write a program to apply a lambda function to every element of a column in a DataFrame.
17. Write a program to drop duplicate rows from a DataFrame.
18. Write a program to reset the index of a DataFrame.
19. Write a program to save a DataFrame to a CSV file.
20. Write a program to read a CSV file into a DataFrame and display the first five rows.

In [174]:
import pandas as pd
import numpy as np
# 1. Create a DataFrame from a dictionary of lists and display it.

data = {
    "name": ["Ana", "Luis", "Carlos", "Marta", None],
    "age": [28, 34, 22, 30, np.nan],
    "properties": [4,5,6,7, np.nan]

}

df = pd.DataFrame.from_dict(data)

df.head()

     name   age  properties
0     Ana  28.0         4.0
1    Luis  34.0         5.0
2  Carlos  22.0         6.0
3   Marta  30.0         7.0
4    None   NaN         NaN

In [175]:
# 2. Add a new column to an existing DataFrame based on calculations from other columns.

df["years to 40"] = 40 - df["age"]

df.head()

     name   age  properties  years to 40
0     Ana  28.0         4.0         12.0
1    Luis  34.0         5.0          6.0
2  Carlos  22.0         6.0         18.0
3   Marta  30.0         7.0         10.0
4    None   NaN         NaN          NaN

In [176]:
# 3. Filter rows in a DataFrame based on a condition.

df_more_than_30 = df[df["age"] > 25]

df_more_than_30.head()

    name   age  properties  years to 40
0    Ana  28.0         4.0         12.0
1   Luis  34.0         5.0          6.0
3  Marta  30.0         7.0         10.0

In [177]:
# 4. Sort a DataFrame by a specific column in ascending order.

df_more_than_30.sort_values(by="years to 40", ascending=True, inplace=True)
df_more_than_30.head()

C:\Users\victo\AppData\Local\Temp\ipykernel_4956\3416851940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_more_than_30.sort_values(by="years to 40", ascending=True, inplace=True)

    name   age  properties  years to 40
1   Luis  34.0         5.0          6.0
3  Marta  30.0         7.0         10.0
0    Ana  28.0         4.0         12.0

In [178]:
# 5. Write a program to rename the columns of a DataFrame.

df = df.rename(columns={"years to 40": "test to 40"})

df.head()

     name   age  properties  test to 40
0     Ana  28.0         4.0        12.0
1    Luis  34.0         5.0         6.0
2  Carlos  22.0         6.0        18.0
3   Marta  30.0         7.0        10.0
4    None   NaN         NaN         NaN

In [179]:
# 6. Drop rows with missing values from a DataFrame.

df = df.dropna()

In [180]:
# 7. Write a program to fill missing values in a DataFrame with a default value.

df_filled = df.fillna({
    "name": "unknown",
    "age": -1,
    "properties": 0
})

df_filled.head()

     name   age  properties  test to 40
0     Ana  28.0         4.0        12.0
1    Luis  34.0         5.0         6.0
2  Carlos  22.0         6.0        18.0
3   Marta  30.0         7.0        10.0

In [181]:
# 8. Group a DataFrame by a specific column and calculate the mean of each group.

grouped = df.groupby("age").mean(numeric_only=True)
display(grouped)

      properties  test to 40
age
22.0         6.0        18.0
28.0         4.0        12.0
30.0         7.0        10.0
34.0         5.0         6.0

In [182]:
# 9. Write a program to merge two DataFrames on a common column.


data1 = {
    "id": [1, 2, 3],
    "name": ["Ana", "Luis", "Marta"]
}
df1 = pd.DataFrame(data1)


data2 = {
    "id": [1, 2, 4],
    "age": [28, 34, 30]
}
df2 = pd.DataFrame(data2)

# Merging in id column
merged= pd.merge(df1, df2, on="id", how="inner")

# Mostrar el DataFrame fusionado
display(merged)

   id  name  age
0   1   Ana   28
1   2  Luis   34

In [183]:
# 10. Write a program to concatenate two DataFrames vertically.

concatenated_df = pd.concat([df1, df2], ignore_index=True)

# Mostrar el DataFrame concatenado
display(concatenated_df)

   id   name   age
0   1    Ana   NaN
1   2   Luis   NaN
2   3  Marta   NaN
3   1    NaN  28.0
4   2    NaN  34.0
5   4    NaN  30.0

In [184]:
# 11. Create a new column in a DataFrame that is the result of applying a custom function to an existing column.

df = pd.DataFrame({
    'existing column': [1, 2, 3, 4, 5]
})

# Functions that sums the value of the column with 1'
def demo(value):
    return value + 10

# Create a new column applying the function 'demo' for each value of 'existing column'
df['new_column'] = df['existing column'].apply(demo)

display(df)

   existing column  new_column
0                1          11
1                2          12
2                3          13
3                4          14
4                5          15

In [185]:
# 12. Write a program to count the unique values in a specific column of a DataFrame.

df["new_column"].nunique()

5

In [186]:
# 13. Write a program to find the maximum value in a specific column of a DataFrame.

df["new_column"].max()

15

In [187]:
# 14. Write a program to filter a DataFrame based on multiple conditions.

filter = (df["existing column"] > 3) & (df["new_column"] < 15)



filtered_df = df[filter]

display(filtered_df)

   existing column  new_column
3                4          14

In [188]:
# 15. Write a program to calculate the correlation matrix of a DataFrame.

df2.corr()

           id       age
id   1.000000  0.142857
age  0.142857  1.000000

In [189]:
# 16. Write a program to apply a lambda function to every element of a column in a DataFrame.

df["existing column"] = df["existing column"].apply(lambda x : x/100)

df.head()

   existing column  new_column
0             0.01          11
1             0.02          12
2             0.03          13
3             0.04          14
4             0.05          15

In [197]:
# 17. Write a program to drop duplicate rows from a DataFrame.

df = df.drop_duplicates(keep=False)

display(df)

   existing column  new_column
0             0.01          11
1             0.02          12
2             0.03          13
3             0.04          14
4             0.05          15

In [198]:
# 18. Write a program to reset the index of a DataFrame.

df = df.reset_index()

In [192]:
# 19. Write a program to save a DataFrame to a CSV file.


df.to_csv("test.csv")

In [193]:
# 20. Write a program to read a CSV file into a DataFrame and display the first five rows.

new_df = pd.read_csv("test.csv")

new_df.head(5)

   Unnamed: 0  existing column  new_column
0           0             0.01          11
1           1             0.02          12
2           2             0.03          13
3           3             0.04          14
4           4             0.05          15